body {
  margin:0px;
  background-image:url('../../images/home/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1024px 575px;
  position:static;
  left:auto;
  width:666px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Aldo Bold', 'Aldo';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
  text-align:center;
}
#u0 {
  position:absolute;
  left:450px;
  top:38px;
  width:123px;
  height:48px;
  font-family:'Aldo Bold', 'Aldo';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
  text-align:center;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:60px;
}
#u2 {
  position:absolute;
  left:358px;
  top:133px;
  width:308px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:25px;
}
#u4 {
  position:absolute;
  left:358px;
  top:213px;
  width:308px;
  height:25px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:362px;
  top:286px;
  width:300px;
  height:30px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:362px;
  top:350px;
  width:300px;
  height:30px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u8 {
  position:absolute;
  left:586px;
  top:390px;
  width:72px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Aldo Regular', 'Aldo';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:419px;
  top:420px;
  width:184px;
  height:17px;
  font-family:'Aldo Regular', 'Aldo';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u10_ann {
  position:absolute;
  left:596px;
  top:416px;
  width:1px;
  height:1px;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Aldo Regular', 'Aldo';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:361px;
  top:258px;
  width:77px;
  height:29px;
  font-family:'Aldo Regular', 'Aldo';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Aldo Regular', 'Aldo';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u14 {
  position:absolute;
  left:362px;
  top:324px;
  width:76px;
  height:29px;
  font-family:'Aldo Regular', 'Aldo';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Aldo Regular', 'Aldo';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16 {
  position:absolute;
  left:397px;
  top:441px;
  width:230px;
  height:17px;
  font-family:'Aldo Regular', 'Aldo';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:65px;
}
#u19 {
  position:absolute;
  left:20px;
  top:480px;
  width:80px;
  height:65px;
  opacity:0.5;
}
#u20 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:92px;
}
#u21 {
  position:absolute;
  left:468px;
  top:468px;
  width:89px;
  height:92px;
}
#u22 {
  position:absolute;
  left:2px;
  top:38px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
